.apps{
    padding-top: 110px;
    padding-bottom: 105px;

&__title{
    font-weight: 700;
    font-size: 36px;
    color: $color-sections;
    margin-bottom: 32px;
}
&__text{
    color: $third-color-light-gray;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 70px;
}
&__list-title{
    font-size: 18px;
    color: $color-hover;
    font-weight: 600;
    margin-bottom: 12px;
}
&__list-text{
    font-size: 14px;
    color: $third-color-light-gray;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 55px;
}}