.create{
    padding-top: 220px;
    padding-bottom: 335px;
    background-image: url(../../images/standarts.png);
&__text{
    color: $first-color;
    font-size: 16;
    font-weight: 500;
    margin-bottom: 20px;
}
&__title{
    font-weight: 800;
    font-size: 48px;
    color: $first-color;
    margin-bottom: 50px;
}}