.standarts{
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: rgba(246, 246, 248, 1);
    &__wrapper{
        display: flex;
        justify-content: space-between;
        padding-bottom: 90px;
    }
&__title{
    font-weight: 700;
    font-size: 36px;
    color: $color-sections;
    margin-bottom: 60px;
}
&__text{
    color: $third-color-light-gray;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 42px;
}
&__link{
    color: $second-color-text;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
}
&__list{
    border-top: 1px solid rgba(224, 224, 224, 1);
    display: flex;
    justify-content: space-between;
&-item{
    margin-top: 70px;
}

&-num{
    color: $color-hover;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 17px;
}
&-text{
    color: $third-color-light-gray;
    font-size: 16px;
    font-weight: 400;
}
&-wrapper{
    display: flex;
    gap: 20px;
    align-items: baseline;
}
}}