.video{
    padding-top: 70px;
    padding-bottom: 85px;
    border-bottom: 1px solid light grey;
&__title{
    color: $first-color;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
}
&__text{
    color: $first-color;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 70px;
}}